/* 
Name + ID: Kris Waithe - 300637474
Project: Assignment 4 - Slot Machine 
Webside: Slot Machine 
Custom CSS
*/

body
{
    background-color: lightgray;
}

#canvas
{
    margin-left: 10px;
    background-color: white;
    border: 1px dotted black;
}